{% extends 'header.html' %}
{% block content %}
{% load static  %}

<section class="page-title bg-1">
<div class="overlay"></div>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="block text-center">
        <h1 class="text-capitalize mb-5 text-lg">About</h1>

        <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
        </ul> -->
        </div>
    </div>
    </div>
</div>
</section>



<section class="section blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
    <div class="col-lg-12 mb-5">
        <div class="single-blog-item">
            <img src="{% static 'images/blog/keralapolice.jpg' %}" alt="" class="img-fluid">

            <div class="blog-item-content mt-5">
                

                <h2 class="mb-4 text-md">About Kottayam Police</h2>

                <p class="lead mb-4"></p>

                <p>Kottayam, the land of lakes, letters and latex is a land-locked district silhouetted by the Idukki Hill Slopes on the east, adjoined by the rolling plains of Ernakulam on the north, bordered by the paddy fields of Kuttanad on the south west and the undulating slopes of Pathanamthitta on the south and bathed by the placid waters of the Vembanad Lake on the west. Ranked tenth among the 14 districts of Kerala in terms of area as well as population.</p>
                <blockquote class="quote">
                    Police Department on high alert for the smooth conduct of the recent Election
                </blockquote>

                
                <p class="lead mb-4 font-weight-normal text-black">Growing tension and competiton among the candidate, caused a great uproar among the brain-washed citizen. Hence, Police shut downed the campaigning process of the Political parties</p>

                <p>Kottayam District Police is entrusted with the responsibility of maintaining law & order in the entire precincts of the district, prevention and detection of crime, traffic management and various citizen centric services for the people of Kottayam District area comprising Kottayam, Changanaherry, Kanjirappally, Pala and Vaikom subdivisions. Parts of Kottayam , Changanacherry, Vaikom, Kanjirappally and Meenachil Taluks having 99 Revenue Villages come under the jurisdiction of Kottayam District Police.</p>

            </div>
        </div>
    </div>
    
            
            
</section>

{% endblock %}